
section.mainCarousel
	.container
		.carousel
			.carousel__item
				.carousel__description
					p 
						span build
					p 
						span your 
					p 
						span business
			.carousel__item
				.carousel__description
					p 
						span build 
					p 
						span your 
					p 
						span business
			.carousel__item
				.carousel__description
					p 
						span build 
					p 
						span your 
					p 
						span business

